.box1 {
  height: 100px;
  width: 100px;
  background: yellow;
  display: block;
}

.box2 {
  height: 100px;
  width: 100px;
  background: blue;
  display: inline;
}

.box3 {
  height: 100px;
  width: 100px;
  background: red;
  display: inline-block;
}
