* {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body,
ul {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  height: 100px;
  background: rgb(27, 25, 25);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-nav {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

li,
.txt-principal {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  list-style: none;
}

li {
  margin-left: 16px;
}

.txt-principal {
}

.ul-nav {
  display: flex;
}

.autor-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin-top: 64px;
  color: rgb(126, 126, 119);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.title-h2 {
  color: rgb(77, 77, 73);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  margin-bottom: 40px;
}

p {
  color: rgb(31, 31, 30);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 64px;
}

footer {
  background: rgb(212, 212, 212);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-footer {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
}

.ul-footer {
  display: flex;
}

.li-footer,
.derechos {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(31, 31, 30);
  font-size: 14px;
  font-weight: bold;
}

.content-modal {
  display: flex;
  width: 100vmax;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  height: 300px;
  width: 500px;
  position: absolute;
  background: rgb(248, 248, 248);
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.hello {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(31, 31, 30);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

.subscrib {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(31, 31, 30);
  font-size: 24px;
}

.btn-one,
.btn-two {
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(31, 31, 30);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-one {
  padding: 16px 24px;
  background: transparent;
  border: 2px solid rgb(31, 31, 30);
}

.btn-one:hover {
  background: rgb(31, 31, 30);
  color: rgb(248, 248, 248);
}

.btn-two {
  padding: 18px 26px;
  margin-left: 16px;
  background: rgb(31, 31, 30);
  color: rgb(248, 248, 248);
}

.btn-two:hover {
  background: transparent;
  border: 2px solid rgb(31, 31, 30);
  color: rgb(31, 31, 30);
  padding: 16px 24px;
}
