body {
  margin: 0;
}

.box-1 {
  background: red;
  width: 50vw;
  height: 100vh;
}

.box-2 {
  background: blue;
  width: 10vw;
  height: 10vh;
}

.box-3 {
  background: green;
  width: 100vw;
  height: 80vh;
}
